<%- include ("partials/header") %>
<h1>
	welcome to home page.
</h1>

<li><a href="/register">Sign Up</a></li>

<li><a href="/login">Log In</a></li>

<li><a href="/logout">LogOut</a></li>

<%- include ("partials/footer") %>
